[package]
name = "storage"
version.workspace = true
edition.workspace = true
authors.workspace = true
license.workspace = true
publish = false

[dependencies]
anyhow = { workspace = true }
common = { path = "../common" }
futures = { workspace = true }
nvram-sim = { path = "../nvram-sim" }
