[package]
name = "common"
version.workspace = true
edition.workspace = true
authors.workspace = true
license.workspace = true
publish = false

[dependencies]
uuid = { workspace = true }
serde = { workspace = true }
hex = { workspace = true }

[dev-dependencies]
serde_json = { workspace = true }
